.password{
    color:orange;
    text-align: left;
}

.register{
    color:orange;
    text-align: right;
}

.back{
    color:orange;
    text-align: left;
}

.login{
    color:orange;
    text-align: left;
}