.create{
    width:100px;
    min-width:60px;
    margin-bottom:10px;
}
label{
    width:100%;
}
table th{
    text-align:center;
}
table tbody td{
    text-align:center;
}
.tabs{
    background:#cccccc;
}
.ant-calendar-picker-input ant-input{
    min-width:80px;
}
.btncre{
    margin-bottom:20px;
}